<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
        integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <form @submit.prevent="addToDo()">
                <input type="text" placeholder="Cosa devi fare?" v-model="toDo" required>
                <button type="submit" @keyup.enter="addToDo()">Aggiungi</button>
            </form>
            <ul v-if="toDoList.length > 0">
                <li :class="{done : toDo.isDone}" v-for="(toDo,i) in toDoList"><span
                        @click="toggleToDo(i)">{{toDo.text}}</span> <i class="fa-solid fa-x" @click="removeToDo(i)"></i>
                </li>
            </ul>
            <div v-else>
                <h3>La lista è vuota</h3>
            </div>
        </div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
    <script src="js/script.js"></script>
</body>

</html>